<%- include ('includes/nav.ejs'); -%>
<div class="ml-auto mr-auto col-md-6">
    <h1 class="text-primary my-5">Create A Schedule</h1>
    <form method="post" action="/create_schedule">
        <div class="row">
        <div class="form-group col-md-6">
            <label for="code">Subject Code</label>
            <% if (codes.length > 0) {%>
            <select class="form-control" id="code" name="code">
                <option>--code--</option>
                <% codes.forEach((code, index) => { %>
                    <option value="<%= code.code %>"><%= code.code %></option>
                <%})%>
            </select>
            <%}%>
        </div>
        <div class="form-group col-md-6">
            <label for="name">Teacher's Name</label>
            <% if (names.length > 0) {%>
                <select class="form-control" id="code" name="name">
                    <option>--name--</option>
                    <% names.forEach((name, index) => { %>
                        <option value="<%= name.name %>"><%= name.name %></option>
                    <%})%>
                </select>
            <%}%>
        </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block px-5">Submit</button>
    </form>
</div>
</body>
</html>
